/* This applie to the body */

body {
    background-color: rgba(227, 246, 255, 0.871);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 18px;
}


/* H Specific rules */

h1 {
    font-family: Lobster;
}

h2 {
    font-family: Lobster;
}

h4 {
    font-family: Lobster;
}

h1 {
    font-size: 60px;
}

h4 {
    font-size: 30px;
}


/* Heading Rules */

.blog-heading {
    font-size: 50px;
}

.topic-heading {
    font-size: 35px;
}


/* Text Alignment */

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.smaller-image {
    width: 400px;
}


/* Image rules */

.thin-black-border {
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    border-style: solid;
    border-radius: 30%;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* div rules */

div {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container {
    width: 700px;
}

.container-image {
    display: flex;
    background-color: rgb(159, 231, 255);
}

a {
    text-decoration: none;
}